@import "./reset.css";
@import "./font.scss";
@import "./search-bar.scss";
@import "./tab-buttons.scss";
@import "./img-render.scss";

body {
    min-height: 100vh;
}

*, *::before, *::after {
    font-family: Noto Sans TC, Microsoft JhengHei, Arial;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.head {
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    // background-color: aqua;
    width: 100%;
    font-size: 1.25em;
}

footer {
    height: 25px;
    background: hsl(208, 100%, 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
        aspect-ratio: 1;
        height: 20px;
        width: 20px;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }
}


@media (max-width: 600px) {
    .head {
        font-size: 0.8rem;
    }
}