.img-container {
  flex: 1;
  height: 100%;
  width: 100%;
  height: auto;
  display: grid;
  place-items: center;
  border-radius: 2em 2em 0 0;
  // border: 100px solid hsl(208, 100%, 80%);
  background: hsl(208, 100%, 80%);

  .img-inner-container {
    width: 90%;
    height: 95%;
    border-radius: 3em;
    display: grid;
    place-items: center;
    background: aliceblue;
  }

  img {
    border: 0;
    margin: 0;
    padding: 0;
    max-height: 50vh;
  }
  
}

@media (max-width: 600px) {
  .img-container {
    img {
      max-height: 40vh;
    }
  }
}